<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">AuthOr</th>
        <th scope="col">Date Created</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts; index as i;">
            <th scope="row">{{i + 1}}</th>
            <td (click)="openPost(post)">{{post.title}}</td>
            <td>{{post.authorName}}</td>
            <td>{{post.dateCreated}}</td>
        </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>