<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Writers Blogs</a>

        <!-- bar Menu -->
        <ng-container >
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/posts-list" routerLinkActive="active">Posts</a>
            </li>
            <li *ngIf="accountService.currentUser$ | async" class="nav-item">
              <a class="nav-link" routerLink="/add-post" routerLinkActive="active">Add Post</a>
            </li>
          </ul>
        </ng-container>
        
        <ng-container *ngIf="(accountService.currentUser$ | async) as User; else loggedOut">
          <button type="button" class="btn btn-primary">Welcome {{User.userName | titlecase}}</button>          
          <button type="button" class="btn btn-primary" (click)="logOut()">Log Out</button>          
        </ng-container>
        
        <ng-template #loggedOut>
          <!-- log In  -->
          <form #loginForm="ngForm" class="d-flex justify-content: space-between" (ngSubmit)="login()" autocomplete="off"> 
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="User Name" aria-label="User Name">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-success me-2" type="submit">Login</button> 
            <a class="btn btn-success" routerLink="/register" routerLinkActive="active">SignUp</a>
          </form>

        </ng-template>
    </div>
  </nav>