<div class="comments-component">
    <div class="comment">
        <div class="comment-content">
            <div class="comment-author">{{ comment.author }} commented</div>
            <div class="comment-text">{{ comment.content }}</div>
        </div>
    </div>

    <app-comment-form
    *ngIf="isEditing()"
    submitLabel="Edit comment"
    [initialText]="comment.content"
    (handleSubmit)="updateComment.emit({ text: $event, commentId: comment.id })"
    ></app-comment-form>

    <div *ngIf="changesAllowed" class="comment-actions">
        <div class="comment-action" (click)="setActiveComment.emit(comment.id)">
            Edit
        </div>
        <div  class="comment-action" (click)="deleteComment.emit(comment.id)">
            Delete 
        </div>
    </div>
</div>