.comments-component {
  background-color: #e0f2ff;
  border-radius: 5px; 
  padding: 1rem; 
  margin: 1rem 0;
  display: flex; 
  flex-direction: column; 
}

.comment {
    display: flex;
    margin-bottom: 28px;
  }

.comment-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
    margin-bottom: 0.5rem; 
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(39, 26, 26);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }

  .comment-author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
  }
  
  .comment-text {
    font-size: 18px;
  }